<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dao.bill.BillMapper">
	<select id="getBillList" parameterType="Bill" resultType="Bill">
		select b.*,p.proName as providerName from smbms_bill b
			inner join smbms_provider p on b.providerId = p.id
		<where>
			<if test="productName!=null and productName!=''">
				and productName like CONCAT('%',#{productName},'%')
			</if>
			<if test="providerId!=null and providerId!=0">
				and providerId=#{providerId}
			</if>
			<if test="isPayment!=null and isPayment!=0">
				and isPayment=#{isPayment}
			</if>
			<if test="id!=null and id!=0">
				and b.id=#{id}
			</if>
		</where>
	</select>
	<insert id="add" parameterType="Bill">
		insert into smbms_bill (billCode,productName,productDesc
		,productUnit,productCount,totalPrice,isPayment,providerId
		,createdBy,creationDate) values(#{billCode},#{productName},#{productDesc}
		,#{productUnit},#{productCount},#{totalPrice}
		,#{isPayment},#{providerId},#{createdBy},#{creationDate})
	</insert>
	<update id="modify" parameterType="Bill">
		update smbms_bill 
		<set>
			<if test="productName!=null and productName!=''">
				productName=#{productName},
			</if>
			<if test="productDesc!=null and productDesc!=''">
				productDesc=#{productDesc},
			</if>
			<if test="productUnit!=null and productUnit!=''">
				productUnit=#{productUnit},
			</if>
			<if test="productCount!=null and productCount!=0">
				productCount=#{productCount},
			</if>
			<if test="totalPrice!=null and totalPrice!=0">
				totalPrice=#{totalPrice},
			</if>
			<if test="isPayment!=null and isPayment!=0">
				isPayment=#{isPayment},
			</if>
			<if test="providerId!=null and providerId!=0">
				providerId=#{providerId},
			</if>
			<if test="modifyBy!=null and modifyBy!=0">
				modifyBy=#{modifyBy},
			</if>
			<if test="modifyDate!=null and modifyDate!=''">
				modifyDate=#{modifyDate},
			</if>
		</set>
		where id = #{id}
	</update>
	<delete id="deleteBillById" parameterType="int">
		delete from smbms_bill where id=#{delId}
	</delete>
</mapper>